<div
  class="container d-flex flex-column justify-content-center align-items-center vh-100 text-center"
>
  <div class="content">
    <h1 class="mb-3">We’ll be back soon!</h1>
    <p class="mb-3">
      Sorry for the inconvenience but we’re performing some maintenance at the
      moment. We’ll be back online shortly!
    </p>
    <div class="loader mb-3"></div>
  </div>
</div>
<footer class="footer bg-dark text-white text-center py-3 fixed-bottom">
  <p class="mb-0">&copy; 2024 B1U3_G0B1IN. All rights reserved.</p>
</footer>
